.ticket-summary{
    height: 600px;
    width: 400px;
    background-color: white;
    box-shadow: 2px 2px 8px 2px #80808033;
    padding: 45px;
}
.amount{
    text-align: right;
}
.tickets-prices{
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}
.tickets-subtotal{
    border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}
.total{
    font-weight: 700;
    font-size: 20px;
}
.checkout{
    display: grid;
    place-items: center;
}
.checkout-btn{
position: absolute;
left: 0;
transform: translate(25%,0%);
}